<html>

<head>
    <link rel="stylesheet" href="/style/add-order.css">

</head>

<body>
    <nav>

        <a href="/order/add-order" action="/orde" method="post">add order</a>

        <a href="/meal/addmeal">add meal</a>

        <a href="/order/orderlist" >order list</a>

    </nav>
    <br><br><br>