<html>
    <head>
        <link rel="stylesheet" href="/style/order list.css">

    </head>
    <body>
        <nav>

            <a href="/order/addorder" >add order</a>
    
            <a href="/meal/addmeal">add meal</a>
    
            <a href="/order/orderlist" >order list</a>
            <a href="/meal/editmeal">edit menu</a> 
    
        </nav>
        <br><br><br>
        
    </body>
</html>