<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>app</title>
     <style>
  .container{

width: 100%;
height:600px;


    }
    body{
         background-image: url("../images/img55.png");
    

         
    }
    .p{
         padding: 10px;
text-align: center;
color: linen;
font-family: Mv Boli;
font-size: 100px;

    }
    .btn{
     width: 500px;
     margin-top: 300px;
     margin-left: 400px; 
     background-color:burlywood;
     color: brown;
     height: 100px;
font-size:xx-large;
border-radius: 10px;
font-family: MV Boli;


}
a{
    color: brown;
    text-decoration: none;
  }
  a:hover{
list-style-type: none;

color: brown;

  }
     </style>
</head>
<body>
     <div class="container">

<button class="btn"> <a href="/Views/entro.ejs">Start </a></button>

     </div>
</body>
</html>