
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


   
   <button class="btn"> <a href="/Views/login">Login </a></button>

   <style>
     .btn{
     width: 500px;
     margin-top: 200px;
     margin-left: 400px; 
     background-color: brown;
     color: #fff8dc;
     height: 100px;
font-size: large;
border-radius: 10px;
font-family: MV Boli;
}
a{
    color: lightgoldenrodyellow;
  }
  a:hover{
list-style-type: none;
text-decoration: none;
color: lightgoldenrodyellow;
  }







body{

    background-color: lavender; 
}


     </style>
</body>

</html>