<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <title>login</title>
</head>
<body>
  

<style>
  a{
    color: lightgoldenrodyellow;
  }
  a:hover{
list-style-type: none;
text-decoration: none;
color: lightgoldenrodyellow;
  }
</style>
<body style="background-color: lavender;">
     <form action="/Views/login">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="name" class="form-control" placeholder="Enter your name" >
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
          </div>
     
            
          </div>
          <button type="submit" class="btn btn-danger">
            <a href="/order/addorder">Submit</a>
          </button>
        </form>